html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100vw;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    background-color: beige;
    top: 3vh;
    left: 60vw;
    z-index: 99;
    width: 35vw;
    height: 90vh;
    overflow: auto;
}

.tweet {
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    /*height: 9vh;*/
    padding: 0;
    margin: 0;
    margin: 0 10px 0 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}